In [60]:
import pandas #ipython notebook
titanic = pandas.read_csv("titanic_train.csv")
titanic.head(3)
#print(titanic.shape)
#print (titanic.describe())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [61]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())#缺失值以age的平均值填充
print(titanic.describe())
titanic["Age"].median()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

28.0

In [62]:
#使用unique去掉重复值
print(titanic["Sex"].unique())
# Replace all the occurences of male with the number 0.
#以编码01取代性别字符
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

['male' 'female']

In [63]:
print(titanic["Embarked"].unique())
titanic["Embarked"]
titanic["Embarked"] = titanic["Embarked"].fillna('S')
titanic.loc[titanic["Embarked"] == "S","Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2
titanic.loc[:,"Embarked"]

['S' 'C' 'Q' nan]

0      0
1      1
2      0
3      0
4      0
5      2
6      0
7      0
8      0
9      1
10     0
11     0
12     0
13     0
14     0
15     0
16     2
17     0
18     0
19     1
20     0
21     0
22     2
23     0
24     0
25     0
26     1
27     0
28     2
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    1
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    0
881    0
882    0
883    0
884    0
885    2
886    0
887    0
888    0
889    1
890    2
Name: Embarked, Length: 891, dtype: int64

In [64]:
# Import the linear regression class
#线性回归模型
from sklearn.linear_model import LinearRegression
# Sklearn also has a helper that makes it easy to do cross validation
#交叉验证模型
from sklearn.cross_validation import KFold

# The columns we'll use to predict the target
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm class
alg = LinearRegression()
# Generate cross validation folds for the titanic dataset.  It return the row indices corresponding to train and test.
# We set random_state to ensure we get the same splits every time we run this.
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)
print(kf)
#titanic.shape[0]返回titanic行数，即样本数量m，对m个样本对交叉验证，n_folds做3层交叉验证，random_state=1随机种子数值为1
predictions = []
#print(train)
#print(test)
#print(kf)
for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (titanic[predictors].iloc[train,:])
    #titanic[predictors].iloc[train,:]
    # The target we're using to train the algorithm.
    train_target = titanic["Survived"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    #把训练集和目标集放到线性回归模型里训练
    # We can now make predictions on the test fold
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    #把测试集放到训练好的线性回归模型里进行测试
    predictions.append(test_predictions)

sklearn.cross_validation.KFold(n=891, n_folds=3, shuffle=False, random_state=1)

In [65]:
import numpy as np

# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.
#print(predictions)
predictions = np.concatenate(predictions, axis=0)

# Map predictions to outcomes (only possible outcomes are 1 and 0)
predictions[predictions > .5] = 1
predictions[predictions <=.5] = 0
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
#print（accuracy）

In [66]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression
# Initialize our algorithm
#使用逻辑回归模型
alg = LogisticRegression(random_state=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)
#此使用说明见本人博客http://blog.sina.com.cn/s/blog_639a2ad70102xbix.html
#使用交叉验证并求各交叉验证结果平均值
# Take the mean of the scores (because we have one for each fold)
print(titanic[predictors])
print(scores.mean())

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    0  22.0      1      0    7.2500         0
1         1    1  38.0      1      0   71.2833         1
2         3    1  26.0      0      0    7.9250         0
3         1    1  35.0      1      0   53.1000         0
4         3    0  35.0      0      0    8.0500         0
5         3    0  28.0      0      0    8.4583         2
6         1    0  54.0      0      0   51.8625         0
7         3    0   2.0      3      1   21.0750         0
8         3    1  27.0      0      2   11.1333         0
9         2    1  14.0      1      0   30.0708         1
10        3    1   4.0      1      1   16.7000         0
11        1    1  58.0      0      0   26.5500         0
12        3    0  20.0      0      0    8.0500         0
13        3    0  39.0      1      5   31.2750         0
14        3    1  14.0      0      0    7.8542         0
15        2    1  55.0      0      0   16.0000         0
16        3    0   2.0      4      1   29.1250         2
17        2    0  28.0      0      0   13.0000         0
18        3    1  31.0      1      0   18.0000         0
19        3    1  28.0      0      0    7.2250         1
20        2    0  35.0      0      0   26.0000         0
21        2    0  34.0      0      0   13.0000         0
22        3    1  15.0      0      0    8.0292         2
23        1    0  28.0      0      0   35.5000         0
24        3    1   8.0      3      1   21.0750         0
25        3    1  38.0      1      5   31.3875         0
26        3    0  28.0      0      0    7.2250         1
27        1    0  19.0      3      2  263.0000         0
28        3    1  28.0      0      0    7.8792         2
29        3    0  28.0      0      0    7.8958         0
..      ...  ...   ...    ...    ...       ...       ...
861       2    0  21.0      1      0   11.5000         0
862       1    1  48.0      0      0   25.9292         0
863       3    1  28.0      8      2   69.5500         0
864       2    0  24.0      0      0   13.0000         0
865       2    1  42.0      0      0   13.0000         0
866       2    1  27.0      1      0   13.8583         1
867       1    0  31.0      0      0   50.4958         0
868       3    0  28.0      0      0    9.5000         0
869       3    0   4.0      1      1   11.1333         0
870       3    0  26.0      0      0    7.8958         0
871       1    1  47.0      1      1   52.5542         0
872       1    0  33.0      0      0    5.0000         0
873       3    0  47.0      0      0    9.0000         0
874       2    1  28.0      1      0   24.0000         1
875       3    1  15.0      0      0    7.2250         1
876       3    0  20.0      0      0    9.8458         0
877       3    0  19.0      0      0    7.8958         0
878       3    0  28.0      0      0    7.8958         0
879       1    1  56.0      0      1   83.1583         1
880       2    1  25.0      0      1   26.0000         0
881       3    0  33.0      0      0    7.8958         0
882       3    1  22.0      0      0   10.5167         0
883       2    0  28.0      0      0   10.5000         0
884       3    0  25.0      0      0    7.0500         0
885       3    1  39.0      0      5   29.1250         2
886       2    0  27.0      0      0   13.0000         0
887       1    1  19.0      0      0   30.0000         0
888       3    1  28.0      1      2   23.4500         0
889       1    0  26.0      0      0   30.0000         1
890       3    0  32.0      0      0    7.7500         2

[891 rows x 7 columns]
0.787878787879

In [67]:
titanic_test = pandas.read_csv("test.csv")
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")

titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2
#把属性字符串编码成数字便于模型处理

In [68]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm with the default paramters
# n_estimators is the number of trees we want to make
# min_samples_split is the minimum number of rows we need to make a split
# min_samples_leaf is the minimum number of samples we can have at the place where a tree branch ends (the bottom points of the tree)
alg = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
kf = cross_validation.KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)

# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.785634118967

In [70]:
alg = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=4, min_samples_leaf=2)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
#使用随机森林模型来预测样本。
kf = cross_validation.KFold(titanic.shape[0], 3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)
print(kf)
# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

sklearn.cross_validation.KFold(n=891, n_folds=3, shuffle=False, random_state=1)
0.814814814815

In [71]:
# Generating a familysize column
titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"]
#增加家庭成员数量牲特征，内容是晚辈数量加长辈数量。
print(titanic.head(1))
# The .apply method generates a new series
titanic["NameLength"] = titanic["Name"].apply(lambda x: len(x))
#添加NameLength列，该列的内容如下：Name的内容经过（lambda x: len(x)）运算后形成的新一列。lambda相当于内建一个函数。即求Name的内容长度。
print(titanic.head(1))

   PassengerId  Survived  Pclass                     Name  Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris    0  22.0      1

   Parch     Ticket  Fare Cabin  Embarked  FamilySize
0      0  A/5 21171  7.25   NaN         0           1
   PassengerId  Survived  Pclass                     Name  Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris    0  22.0      1

   Parch     Ticket  Fare Cabin  Embarked  FamilySize  NameLength
0      0  A/5 21171  7.25   NaN         0           1          23

In [101]:
import re
#正则表达式模块
# A function to get the title from a name.
def get_title(name):
    # Use a regular expression to search for a title.  Titles always consist of capital and lowercase letters, and end with a period.
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
#正则表达式表示查找符合格式的字符串，格式为空格+英文字母+小数点,[A-Za-z]表示匹配A到Z和a-z的单个字母，加号表示多次匹配
#即多个A到Z和a-z之间的字母
# Get all the titles and print how often each one occurs.

titles = titanic["Name"].apply(get_title)
#对Name列应用get_title运算规则，提取每个姓名的title
print(titles)#每一个姓名的title各叫什么
#print(pandas.value_counts(titles))
# Map each title to an integer.  Some titles are very rare, and are compressed into the same codes as other titles.
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}
for k,v in title_mapping.items():
    titles[titles == k] = v
#k相当于"Mr"，v相当于1，如此类推。
# Verify that we converted everything.
print(pandas.value_counts(titles))

# Add in the title column.
titanic["Title"] = titles

0          Mr
1         Mrs
2        Miss
3         Mrs
4          Mr
5          Mr
6          Mr
7      Master
8         Mrs
9         Mrs
10       Miss
11       Miss
12         Mr
13         Mr
14       Miss
15        Mrs
16     Master
17         Mr
18        Mrs
19        Mrs
20         Mr
21         Mr
22       Miss
23         Mr
24       Miss
25        Mrs
26         Mr
27         Mr
28       Miss
29         Mr
        ...
861        Mr
862       Mrs
863      Miss
864        Mr
865       Mrs
866      Miss
867        Mr
868        Mr
869    Master
870        Mr
871       Mrs
872        Mr
873        Mr
874       Mrs
875      Miss
876        Mr
877        Mr
878        Mr
879       Mrs
880       Mrs
881        Mr
882      Miss
883        Mr
884        Mr
885       Mrs
886       Rev
887      Miss
888      Miss
889        Mr
890        Mr
Name: Name, Length: 891, dtype: object
1     517
2     183
3     125
4      40
5       7
6       6
7       5
10      3
8       3
9       2
Name: Name, dtype: int64

In [35]:
import numpy as np
from sklearn.feature_selection import SelectKBest, f_classif
import matplotlib.pyplot as plt
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "FamilySize", "Title", "NameLength"]

# Perform feature selection
selector = SelectKBest(f_classif, k=5)
selector.fit(titanic[predictors], titanic["Survived"])

# Get the raw p-values for each feature, and transform from p-values into scores
scores = -np.log10(selector.pvalues_)

# Plot the scores.  See how "Pclass", "Sex", "Title", and "Fare" are the best?
plt.bar(range(len(predictors)), scores)
plt.xticks(range(len(predictors)), predictors, rotation='vertical')
plt.show()

# Pick only the four best features.
predictors = ["Pclass", "Sex", "Fare", "Title"]

alg = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=8, min_samples_leaf=4)

In [36]:
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np

# The algorithms we want to ensemble.
# We're using the more linear predictors for the logistic regression, and everything with the gradient boosting classifier.
algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title",]],
    [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

# Initialize the cross validation folds
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)

predictions = []
for train, test in kf:
    train_target = titanic["Survived"].iloc[train]
    full_test_predictions = []
    # Make predictions for each algorithm on each fold
    for alg, predictors in algorithms:
        # Fit the algorithm on the training data.
        alg.fit(titanic[predictors].iloc[train,:], train_target)
        # Select and predict on the test fold.  
        # The .astype(float) is necessary to convert the dataframe to all floats and avoid an sklearn error.
        test_predictions = alg.predict_proba(titanic[predictors].iloc[test,:].astype(float))[:,1]
        full_test_predictions.append(test_predictions)
    # Use a simple ensembling scheme -- just average the predictions to get the final classification.
    test_predictions = (full_test_predictions[0] + full_test_predictions[1]) / 2
    # Any value over .5 is assumed to be a 1 prediction, and below .5 is a 0 prediction.
    test_predictions[test_predictions <= .5] = 0
    test_predictions[test_predictions > .5] = 1
    predictions.append(test_predictions)

# Put all the predictions together into one array.
predictions = np.concatenate(predictions, axis=0)

# Compute accuracy by comparing to the training data.
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
print(accuracy)

0.279461279461

In [37]:
titles = titanic_test["Name"].apply(get_title)
# We're adding the Dona title to the mapping, because it's in the test set, but not the training set
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2, "Dona": 10}
for k,v in title_mapping.items():
    titles[titles == k] = v
titanic_test["Title"] = titles
# Check the counts of each unique title.
print(pandas.value_counts(titanic_test["Title"]))

# Now, we add the family size column.
titanic_test["FamilySize"] = titanic_test["SibSp"] + titanic_test["Parch"]

1     240
2      79
3      72
4      21
7       2
6       2
10      1
5       1
Name: Title, dtype: int64

In [18]:
predictors = ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title"]

algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), predictors],
    [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

full_predictions = []
for alg, predictors in algorithms:
    # Fit the algorithm using the full training data.
    alg.fit(titanic[predictors], titanic["Survived"])
    # Predict using the test dataset.  We have to convert all the columns to floats to avoid an error.
    predictions = alg.predict_proba(titanic_test[predictors].astype(float))[:,1]
    full_predictions.append(predictions)

# The gradient boosting classifier generates better predictions, so we weight it higher.
predictions = (full_predictions[0] * 3 + full_predictions[1]) / 4
predictions

array([ 0.11682912,  0.47835566,  0.12614824,  0.13098157,  0.52105874,
        0.1435209 ,  0.64085331,  0.18003152,  0.67801353,  0.12111118,
        0.12105181,  0.20902118,  0.91068381,  0.1089127 ,  0.89142102,
        0.87713474,  0.16349859,  0.13907791,  0.54103238,  0.55661006,
        0.22420875,  0.5372079 ,  0.90572223,  0.38890588,  0.88384752,
        0.10357315,  0.90909441,  0.13746454,  0.31046249,  0.12665718,
        0.11663767,  0.18274855,  0.55220994,  0.49648575,  0.42415297,
        0.14191051,  0.50973638,  0.52452209,  0.13270506,  0.28366691,
        0.11145281,  0.46618807,  0.09996501,  0.83420617,  0.89959119,
        0.14983417,  0.31593419,  0.13789623,  0.89104185,  0.54189565,
        0.35666363,  0.17718135,  0.8307195 ,  0.87995521,  0.1755907 ,
        0.13741805,  0.10667279,  0.1234385 ,  0.12099736,  0.91285169,
        0.13099159,  0.15341948,  0.12993967,  0.66573206,  0.66343836,
        0.87272604,  0.67238712,  0.288265  ,  0.35236574,  0.85565507,
        0.6622414 ,  0.12701993,  0.55390065,  0.36740462,  0.91110312,
        0.41201902,  0.13014004,  0.83671279,  0.15614414,  0.6622414 ,
        0.68129213,  0.20605719,  0.20382623,  0.12105181,  0.18486634,
        0.13130212,  0.65680539,  0.53029858,  0.65489631,  0.79881212,
        0.53764546,  0.12104028,  0.8913725 ,  0.13014004,  0.28406245,
        0.12345367,  0.86792484,  0.14666337,  0.58599461,  0.12260781,
        0.90433464,  0.14730817,  0.13789623,  0.12262433,  0.62257491,
        0.13155874,  0.14607753,  0.13789623,  0.13020336,  0.17473033,
        0.14286392,  0.65490316,  0.89528117,  0.67146758,  0.88346017,
        0.13992078,  0.11805064,  0.69612515,  0.36668939,  0.86241698,
        0.87649291,  0.12609327,  0.90276371,  0.12099027,  0.13789623,
        0.56971935,  0.12608181,  0.63733743,  0.13339996,  0.13340574,
        0.12723637,  0.51609607,  0.23921874,  0.10791695,  0.09896737,
        0.12431124,  0.13346495,  0.16214099,  0.52029433,  0.12232635,
        0.20712059,  0.90529649,  0.19747926,  0.16153716,  0.42927593,
        0.10487176,  0.33642492,  0.13518414,  0.46618807,  0.34478758,
        0.91431377,  0.13214999,  0.10690998,  0.48983645,  0.11274825,
        0.12427868,  0.9107016 ,  0.57991631,  0.42927593,  0.51274048,
        0.65489239,  0.57884522,  0.82113381,  0.12096648,  0.28979611,
        0.58587108,  0.30130471,  0.14606803,  0.9025041 ,  0.52257377,
        0.12101884,  0.13299498,  0.12418534,  0.13207486,  0.1319655 ,
        0.8729358 ,  0.87633414,  0.29670328,  0.83389526,  0.85558679,
        0.15614414,  0.33352246,  0.90219082,  0.13789623,  0.91718918,
        0.13603003,  0.85482389,  0.12241402,  0.14217314,  0.13560687,
        0.1348803 ,  0.25547183,  0.49950989,  0.12729496,  0.71980831,
        0.10795469,  0.85516508,  0.58990449,  0.16645668,  0.53980354,
        0.64867969,  0.66329187,  0.60981573,  0.87333314,  0.16322638,
        0.25696649,  0.63083524,  0.16482591,  0.88984707,  0.12346408,
        0.12849653,  0.12097124,  0.24675029,  0.80199995,  0.41248342,
        0.29768148,  0.65492663,  0.21860346,  0.90027407,  0.13014004,
        0.8137002 ,  0.13611142,  0.84275393,  0.12700828,  0.87789288,
        0.59807994,  0.12518087,  0.65489631,  0.11487493,  0.1441311 ,
        0.25075165,  0.89266286,  0.11622683,  0.1379133 ,  0.34224639,
        0.12796773,  0.19365861,  0.14018901,  0.80948189,  0.89790832,
        0.87598967,  0.82598174,  0.33036559,  0.12105101,  0.33258156,
        0.28710745,  0.8790295 ,  0.16058987,  0.86241698,  0.59133092,
        0.74586492,  0.15434326,  0.39647431,  0.13354268,  0.12701864,
        0.12101884,  0.13789623,  0.13014004,  0.83005787,  0.12700585,
        0.10894954,  0.12701508,  0.85003763,  0.64929875,  0.16619539,
        0.12105181,  0.21821016,  0.12101884,  0.50973638,  0.14016481,
        0.34495861,  0.13789623,  0.91564   ,  0.6332826 ,  0.13207439,
        0.85713531,  0.15861636,  0.12500116,  0.14267175,  0.16811853,
        0.52045075,  0.66231856,  0.65489631,  0.64136782,  0.71198852,
        0.10601085,  0.12099027,  0.3627808 ,  0.13207486,  0.13014004,
        0.33304456,  0.59319589,  0.13207486,  0.50584352,  0.12081676,
        0.12263655,  0.77903176,  0.12665718,  0.33024483,  0.12028976,
        0.11813957,  0.17547887,  0.1216941 ,  0.13347145,  0.65489631,
        0.82133626,  0.33497525,  0.67696014,  0.20916505,  0.42575111,
        0.13912869,  0.13799529,  0.12102122,  0.61904744,  0.90111957,
        0.67393647,  0.23919457,  0.17328806,  0.12182854,  0.18522951,
        0.12262433,  0.13491478,  0.16214099,  0.45541306,  0.90601333,
        0.12509883,  0.86563776,  0.34598576,  0.14469719,  0.17034218,
        0.82147627,  0.32823572,  0.13207439,  0.64322911,  0.12183262,
        0.25111398,  0.15333425,  0.09370087,  0.20950803,  0.35411806,
        0.17507148,  0.118123  ,  0.1469565 ,  0.91556464,  0.33657652,
        0.618368  ,  0.16214099,  0.62462682,  0.1654289 ,  0.85157883,
        0.89603825,  0.16322638,  0.24472808,  0.16066609,  0.70031025,
        0.15642457,  0.85672648,  0.12105022,  0.13789623,  0.57255235,
        0.10418822,  0.87672475,  0.86918839,  0.13098157,  0.91914163,
        0.15715004,  0.1313025 ,  0.53322127,  0.89562968,  0.17356053,
        0.15319843,  0.90891499,  0.16307942,  0.13130575,  0.87654859,
        0.90969185,  0.48853359,  0.17002326,  0.19866966,  0.13510974,
        0.13789623,  0.14010265,  0.54133852,  0.5949924 ,  0.15905635,
        0.83276875,  0.12430276,  0.12019388,  0.14606637,  0.18789784,
        0.38579307,  0.87750065,  0.56459193,  0.12807839,  0.10318132,
        0.91169572,  0.14231524,  0.88773179,  0.12607946,  0.12971145,
        0.90753797,  0.12635163,  0.90891637,  0.35988713,  0.30442425,
        0.18966803,  0.1501521 ,  0.26822399,  0.65488945,  0.64585313,
        0.65489631,  0.90711865,  0.56933478,  0.13014004,  0.86010063,
        0.10126674,  0.13014004,  0.41850311])